<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
</h:head>
<h:body>
    <h1>Hello World PrimeFaces</h1>
    <h:form>
        <p:editor value="#{main.value}"/>
    </h:form>
    <h:form id="dataForm">
        <p:dataTable
                lazy="true" paginator="true" rows="10"
                binding="#{carView.dataTable}"
                id="carsTable"
                var="car"
                value="#{carView.lazyModel}"
                widgetVar="carsTable">
            <f:facet name="header">
                List of Cars
                <p:commandButton widgetVar="togglerBtn" id="toggler" type="button" value="Columns" style="float:right"
                                 icon="pi pi-align-justify"/>
                <p:columnToggler widgetVar="carsToggler" datasource="carsTable" trigger="toggler">
                    <p:ajax event="toggle"
                            listener="#{carView.onToggle}"
                    />
                </p:columnToggler>
            </f:facet>
            <p:ajax event="filter"
                    listener="#{carView.onFilter}"
            />
            <p:column id="id"
                      headerText="Id"
                      filterBy="#{car.id}"
                      filterMatchMode="contains">
                <h:outputText value="#{car.id}"/>
            </p:column>

            <p:column headerText="Year">
                <h:outputText value="#{car.year}"/>
            </p:column>

            <p:column headerText="Brand">
                <h:outputText value="#{car.brand}"/>
            </p:column>

            <p:column headerText="Color">
                <h:outputText value="#{car.color}"/>
            </p:column>
        </p:dataTable>
    </h:form>
</h:body>
</html>